$tan: #DCC7AA;
$orange: #F7882F;
$yellow: #F7C331;
$blue: #6B7A8F;
$black: #000;

.quiz {
  background: linear-gradient(to bottom right, $tan, $blue);
}

.btn,
.quiz-button {
  background: linear-gradient(to bottom right, $tan, $orange);
  color: $black;
  border: none;
  height: 2rem;
  cursor: pointer;
}

.btn,
.return-button {
  text-decoration: none;
}