<mat-card class="quiz" *ngIf="question">
  <h1 class="questions-title">{{question.label}}</h1>
  <form [formGroup]="form">
    <mat-card-content class="question-card-content">
      <label *ngFor="let choice of question.choices">
        <input class="selection-indicator" type="radio" [value]="choice" formControlName="choice">
        <mat-list>
          <li class="options"><span class="choices">{{choice.value}}</span></li>
        </mat-list>
      </label>
    </mat-card-content>
  </form>
</mat-card>