/* You can add global styles to this file, and also import other style files */
$tan: #DCC7AA;
$orange: #F7882F;
$yellow: #F7C331;
$blue: #6B7A8F;

html, body { 
  background-color: $tan;
  height: 100%;  
}

body { 
  margin: 0; 
  font-family: Roboto, 
  "Helvetica Neue", 
  sans-serif;
}

.mat-card {
  text-align: center;
  background-color: $orange;
  margin: 1rem;
}